.loginParentDiv {
   
   
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
  }
  
  .loginParentDiv .input {
  
    background: white;
    width: 100%;
    color: black;
    padding : .6rem
  }
  
  .form_login{
    width: 100%;
  }
  
  .form_login div {
    width: 100%;
  }
  
  
  
  
  .loginParentDiv button {
    margin-top: 1.4rem;
    margin-left: .7rem;
    width: 100%;
    height: 48px;
   
    /* border-color: transparent; */
    background-color: #002f34;
    color: whitesmoke;
    font-weight: 900;
  }
  .loginParentDiv button:hover {
    background-color: white;
    color: #002f34;
    border: 2px solid #002f34;
  }
  
  .loginParentDiv a {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 1.4rem;
    
  }
  
  
  